.DS_Store
__pycache__/
*.pyc
.venv/

training_metrics.log
incidents_consolides.csv

# Anciens modèles non utilisés
model_omv.pkl
model_origine.pkl
model_service.pkl
# Modèles PyTorch (CamemBERT, non utilisés)
*.pt
